@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(cats.jpg);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


main {
    align-items: center;
    justify-content: center;
    display: flex;
}


.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

    .navbar ul li a {
        text-decoration: none;
        color: white;
    }

.navbar a:hover {
    color: #787675;
    transition: 0.5s;
}

.navbar .btn-login {
    width: 130px;
    height: 35px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    color: white;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    padding: 5px 20px 5px 20px;
}

    .navbar .btn-login:hover {
        color: #787675;
        border-color: #787675;
        transition: 0.5s;
    }
